<!DOCTYPE html>
<html>
<head>
    <title>Форма встречи</title>
    <style>
        label {
            display: block;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <h2>Форма встречи</h2>
    <form method="post">
        {% csrf_token %}
        <label for="{{ form.patient.id_for_label }}">Пациент:</label>
        {{ form.patient }}

        <label for="{{ form.date.id_for_label }}">Дата встречи:</label>
        {{ form.date }}

        <label for="{{ form.doctor_name.id_for_label }}">Имя врача:</label>
        {{ form.doctor_name }}

        <label for="{{ form.notes.id_for_label }}">Заметки:</label>
        {{ form.notes }}

        <button type="submit">Сохранить</button>
        <a href="{% url 'appointment_list' %}">Отменить</a>
    </form>
</body>
</html>
